@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Itim&display=swap');



h1, h3{
font-family: 'Chicle', cursive;
}

p, h4, a {
  font-family: 'Itim', cursive;
}

body{
  background-color: #FFD898;
}

.row1{
  background-color: #FFD898;
  text-align: center;
}

.page-footer{
background-color: #FFD898;

}
