@import url('https://fonts.googleapis.com/css2?family=Literata&family=Shrikhand&display=swap');

/* SELECTOR DE ETIQUETAS HTML */

/*body{
background-image: url(../img/fondoMarilyn.jpg);
}*/
h1{
  font-family: 'Shrikhand', cursive;
  font-size: 36px;
}
h5, p, a, h3 {
  font-family: 'Literata', serif;
}


/* SELECTORES PERSONALIZADOS */

.contenedor{
  width: 600px;
  background-color: #ceb3ca;
  margin: 50px auto 50px auto;
  padding: 20px;
  border: 2px solid #a03fd2;
  border-radius: 8px;
  text-align: center;
}

.borde-foto{
  border: 2px solid #a03fd2;
  border-radius: 800px;
}


.adaptable {
width: 100%;
height: auto;
}
